n8n-workflow-2-po-followup.json
{
  "name": "PO Confirmation Follow-up",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 9 * * *"
            }
          ]
        }
      },
      "id": "22222222-2222-2222-2222-222222222201",
      "name": "Daily 9AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://endurance-blouse-likewise.ngrok-free.dev/api/purchase-orders?status=SENT&olderThan=3",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MSwidXNlcm5hbWUiOiJhZG1pbiIsInJvbGUiOiJBRE1JTiIsImlhdCI6MTc4MTQ0ODY4MywiZXhwIjoxODEyOTg0NjgzfQ.SOwF4CFUO197pEKBT2zo1_o9vQwZPOwEEA6RCVmK1p0"
            },
            {
              "name": "ngrok-skip-browser-warning",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "22222222-2222-2222-2222-222222222202",
      "name": "Fetch Pending POs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [480, 300]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst pos = items.map(i => i.json);\nconst count = pos.length;\nif (count === 0) return [{ json: { count: 0, subject: '', htmlBody: '' } }];\nconst rows = pos.map(p => {\n  const sup = (p.supplier && p.supplier.companyName) ? p.supplier.companyName : '-';\n  const email = (p.supplier && p.supplier.email) ? p.supplier.email : '-';\n  const total = parseFloat(p.total || 0).toFixed(2);\n  return `<tr><td style='padding:8px;border-bottom:1px solid #eee'>${p.poNumber}</td><td style='padding:8px;border-bottom:1px solid #eee'>${sup}</td><td style='padding:8px;border-bottom:1px solid #eee'>${email}</td><td style='padding:8px;border-bottom:1px solid #eee'>$${total}</td><td style='padding:8px;border-bottom:1px solid #eee'>${p.orderDate}</td></tr>`;\n}).join('');\nconst htmlBody = `<h2 style='color:#1e3a5f'>PO Confirmation Follow-up</h2><p><strong>${count}</strong> purchase order(s) sent more than 3 days ago and still awaiting supplier confirmation. Please follow up with the relevant suppliers.</p><table style='border-collapse:collapse;width:100%;font-family:Arial,sans-serif;font-size:13px'><thead><tr style='background:#1e3a5f;color:white'><th style='padding:8px;text-align:left'>PO Number</th><th style='padding:8px;text-align:left'>Supplier</th><th style='padding:8px;text-align:left'>Contact Email</th><th style='padding:8px;text-align:left'>Total</th><th style='padding:8px;text-align:left'>Order Date</th></tr></thead><tbody>${rows}</tbody></table><p style='color:#666;font-size:12px;margin-top:16px'>TSH Accounts Payable System — Auto-generated</p>`;\nconst subject = `[TSH AP] ${count} PO${count > 1 ? 's' : ''} Awaiting Supplier Confirmation`;\nreturn [{ json: { count, subject, htmlBody } }];"
      },
      "id": "22222222-2222-2222-2222-222222222203",
      "name": "Format Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "wf2-cond-1",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "22222222-2222-2222-2222-222222222204",
      "name": "Has POs?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "fromEmail": "ap@tsh.com",
        "toEmail": "ap@tsh.com",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "html": "={{ $json.htmlBody }}",
        "options": {}
      },
      "id": "22222222-2222-2222-2222-222222222205",
      "name": "Send Follow-up Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1200, 200],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP"
        }
      }
    }
  ],
  "connections": {
    "Daily 9AM": {
      "main": [
        [
          {
            "node": "Fetch Pending POs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Pending POs": {
      "main": [
        [
          {
            "node": "Format Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Email": {
      "main": [
        [
          {
            "node": "Has POs?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has POs?": {
      "main": [
        [
          {
            "node": "Send Follow-up Email",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Singapore"
  },
  "versionId": "00000000-0000-0000-0000-000000000002",
  "meta": {
    "instanceId": "tsh-ap"
  }
}
